{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Defender for Endpoint API",
    "description": "Microsoft Defender for Endpoint API provides programmatic access to Microsoft Defender for Endpoint capabilities including machine management, security recommendations, alerts, and threat intelligence. This specification has been rebuilt from comprehensive documentation analysis for 100% accuracy.",
    "version": "2.0.0",
    "contact": {
      "name": "Microsoft Defender for Endpoint API Documentation",
      "url": "https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/apis-intro"
    },
    "license": {
      "name": "Microsoft API License",
      "url": "https://docs.microsoft.com/en-us/legal/microsoft-apis/terms-of-use"
    },
    "x-microsoft-docs-commit": "2396f29e7c01cbbc639be84c45e276c115de5f41",
    "x-microsoft-docs-date": "2025-08-06T07:31:11Z",
    "x-microsoft-docs-url": "https://github.com/MicrosoftDocs/defender-docs/commit/2396f29e7c01cbbc639be84c45e276c115de5f41"
  },
  "servers": [
    {
      "url": "https://api.securitycenter.microsoft.com",
      "description": "Microsoft Defender for Endpoint API"
    }
  ],
  "security": [
    {
      "oauth2": [
        "https://api.securitycenter.microsoft.com/.default"
      ]
    }
  ],
  "tags": [
    {
      "name": "AdvancedHunting",
      "description": "Advanced hunting queries using KQL"
    },
    {
      "name": "Alert",
      "description": "Security alert management and investigation"
    },
    {
      "name": "Assessment",
      "description": "Security assessment and vulnerability data export"
    },
    {
      "name": "AuthenticatedScan",
      "description": "Authenticated vulnerability scanning management"
    },
    {
      "name": "AutomatedInvestigation",
      "description": "Automated investigation management"
    },
    {
      "name": "BrowserExtensions",
      "description": "Browser extension inventory and assessment"
    },
    {
      "name": "DeviceHealth",
      "description": "Device health and antivirus status reporting"
    },
    {
      "name": "Domain",
      "description": "Domain analysis and investigation"
    },
    {
      "name": "File",
      "description": "File analysis and investigation"
    },
    {
      "name": "Indicators",
      "description": "Threat intelligence indicator management"
    },
    {
      "name": "IP",
      "description": "IP address analysis and investigation"
    },
    {
      "name": "LiveResponseLibrary",
      "description": "Live response library file management"
    },
    {
      "name": "Machine",
      "description": "Device management and information"
    },
    {
      "name": "MachineAction",
      "description": "Device actions and remediation operations"
    },
    {
      "name": "Recommendation",
      "description": "Security recommendations management"
    },
    {
      "name": "RemediationActivity",
      "description": "Remediation activity tracking"
    },
    {
      "name": "Score",
      "description": "Security scoring and exposure metrics"
    },
    {
      "name": "SecurityBaseline",
      "description": "Security baseline compliance assessment"
    },
    {
      "name": "Software",
      "description": "Software inventory and vulnerability management"
    },
    {
      "name": "User",
      "description": "User-related security information"
    },
    {
      "name": "Vulnerability",
      "description": "Vulnerability management and tracking"
    }
  ],
  "paths": {
    "/api/alerts": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "List alerts with OData V4 support and evidence expansion",
        "description": "Retrieves security alerts with comprehensive filtering, sorting, and pagination through OData V4 queries. Supports expanding evidence data and filtering on 15+ fields including severity, status, category, and detection source.",
        "operationId": "getAlerts",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter query - supports 15+ filterable fields including severity, status, category, detectionSource, assignedTo, alertCreationTime, machineId, and more",
            "schema": {
              "type": "string"
            },
            "example": "severity eq 'High' and status eq 'New'"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of entries to return (max 10,000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 100
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 0
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities. Supported: evidence",
            "schema": {
              "type": "string",
              "enum": [
                "evidence"
              ]
            },
            "example": "evidence"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sort results by specified fields",
            "schema": {
              "type": "string"
            },
            "example": "alertCreationTime desc"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select specific fields to return",
            "schema": {
              "type": "string"
            },
            "example": "id,title,severity,status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alerts collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/batchUpdate": {
      "post": {
        "tags": [
          "Alert"
        ],
        "summary": "Batch update multiple alerts",
        "description": "Updates multiple alerts in a single batch operation for status, determination, classification, and assignment. Allows efficient bulk operations on alert collections.",
        "operationId": "batchUpdateAlerts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateAlertsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateAlertsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/CreateAlertByReference": {
      "post": {
        "tags": [
          "Alert"
        ],
        "summary": "Create new alert from event",
        "description": "Creates a new alert based on an existing event with specified event time, machine ID, and report ID. Useful for creating custom alerts from detected events or external threat intelligence.",
        "operationId": "createAlertByReference",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlertByReferenceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created alert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/{id}": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Get alert information by ID",
        "description": "Retrieves a specific alert by its ID with complete alert details and metadata including investigation state, evidence, and related entities.",
        "operationId": "getAlertById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alert",
            "schema": {
              "type": "string"
            },
            "example": "da637472900382838869_1364969609"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Alert"
        ],
        "summary": "Update alert properties",
        "description": "Updates properties of an existing alert including status, determination, classification, assignedTo, and comments. All fields are optional - include only the fields you want to update.",
        "operationId": "updateAlert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alert",
            "schema": {
              "type": "string"
            },
            "example": "da637472900382838869_1364969609"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated alert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/{id}/domains": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Get domains related to alert",
        "description": "Retrieves all domains related to a specific alert for threat investigation and analysis. Useful for understanding network-based threats and malicious domain communications.",
        "operationId": "getAlertRelatedDomains",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alert",
            "schema": {
              "type": "string"
            },
            "example": "da637472900382838869_1364969609"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with related domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/{id}/files": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Get files related to alert",
        "description": "Retrieves all files related to a specific alert including file hashes, metadata, and security information. Essential for malware analysis and threat investigation.",
        "operationId": "getAlertRelatedFiles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alert",
            "schema": {
              "type": "string"
            },
            "example": "da637472900382838869_1364969609"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with related files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/{id}/ips": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Get IP addresses related to alert",
        "description": "Retrieves all IP addresses related to a specific alert for network threat investigation and analysis. Useful for tracking malicious network communications and C2 infrastructure.",
        "operationId": "getAlertRelatedIPs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alert",
            "schema": {
              "type": "string"
            },
            "example": "da637472900382838869_1364969609"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with related IP addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/{id}/machine": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Get device related to alert",
        "description": "Retrieves device information related to a specific alert including system details, network configuration, and security status. Essential for understanding the affected device context.",
        "operationId": "getAlertRelatedMachine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alert",
            "schema": {
              "type": "string"
            },
            "example": "da637472900382838869_1364969609"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with related machine information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/alerts/{id}/user": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Get user related to alert",
        "description": "Retrieves user information related to a specific alert including account details, logon history, and security context. Important for understanding user-based threats and compromised accounts.",
        "operationId": "getAlertRelatedUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alert",
            "schema": {
              "type": "string"
            },
            "example": "da637472900382838869_1364969609"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with related user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "List machines",
        "description": "Retrieves a collection of machines that have communicated with Microsoft Defender for Endpoint cloud with comprehensive OData V4 query support. Essential for device inventory and management operations.",
        "operationId": "getMachines",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter on computerDnsName, id, version, deviceValue, aadDeviceId, machineTags, lastSeen, exposureLevel, onboardingStatus, lastIpAddress, healthStatus, osPlatform, riskScore, rbacGroupId",
            "schema": {
              "type": "string"
            },
            "example": "healthStatus eq 'Active'"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of entries to return (max 10,000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 100
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with machines collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Get machine by device ID or computer name",
        "description": "Retrieves a specific machine by its device ID or computer name with complete device information and security status. Provides comprehensive device information including security posture.",
        "operationId": "getMachineById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID or computer name",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with machine details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Machine"
        ],
        "summary": "Update machine properties (tags and deviceValue)",
        "description": "Updates properties of an existing machine including tags and device value for enhanced device management and categorization. Only machineTags and deviceValue can be updated.",
        "operationId": "updateMachine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Machine ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMachineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated machine",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{machineId}/setDeviceValue": {
      "post": {
        "tags": [
          "Machine"
        ],
        "summary": "Set device value (Normal/Low/High)",
        "description": "Sets the device value of a specific machine for vulnerability management prioritization and risk assessment. Used for business-context-aware security management and affects exposure score calculations.",
        "operationId": "setDeviceValue",
        "parameters": [
          {
            "name": "machineId",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDeviceValueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully set device value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{machineId}/getmissingkbs": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Get missing security updates (KBs) by device ID",
        "description": "Retrieves missing security updates (Knowledge Base articles) for a specific device, essential for patch management and vulnerability remediation. Critical for maintaining device security posture.",
        "operationId": "getMissingKBsByMachine",
        "parameters": [
          {
            "name": "machineId",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "2339ad14a01bd0299afb93dfa2550136057bff96"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with missing KBs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MissingKBCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/tags": {
      "post": {
        "tags": [
          "Machine"
        ],
        "summary": "Add or remove tags for a single machine",
        "description": "Manages tags for a specific machine for device categorization, grouping, and automated workflows. Tags are case-sensitive.",
        "operationId": "addOrRemoveMachineTags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Machine ID (device identifier)",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated machine tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineTagResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/logonusers": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Get logged on users for a specific device",
        "description": "Retrieves a collection of users who have logged on to a specific device, useful for user activity tracking and security investigations. Essential for user activity analysis and insider threat detection.",
        "operationId": "getMachineLogonUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with logged on users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/alerts": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Get all alerts related to a specific device",
        "description": "Retrieves all alerts related to a specific device for comprehensive device-focused security investigation and analysis. Essential for device-focused incident response and understanding device compromise timeline.",
        "operationId": "getMachineRelatedAlerts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with device-related alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{machineId}/recommendations": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Get security recommendations for device",
        "description": "Get security recommendations for a specific device from Threat and Vulnerability Management. Part of Microsoft Defender Vulnerability Management for device-specific security guidance.",
        "operationId": "getMachineRecommendations",
        "parameters": [
          {
            "name": "machineId",
            "in": "path",
            "required": true,
            "description": "Machine ID",
            "schema": {
              "type": "string"
            },
            "example": "e058770379bc199a9c179ce52a23e16fd44fd2ee"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with security recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/find": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Find device by internal IP and timestamp",
        "description": "Finds a device by internal IP address around a specific timestamp (within 16 minutes prior and after). Must be within last 30 days.",
        "operationId": "findMachineByIP",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "Timestamp in ISO 8601 format (must be within last 30 days)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2018-06-19T10:00:00Z"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Internal IP address to search for",
            "schema": {
              "type": "string"
            },
            "example": "10.0.0.1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching machines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machineactions": {
      "get": {
        "tags": [
          "MachineAction"
        ],
        "summary": "List machine actions",
        "description": "Retrieves a collection of machine actions with comprehensive OData V4 query support for filtering and pagination. Essential for tracking device remediation activities and security operations.",
        "operationId": "getMachineActions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter on id, status, machineId, type, requestor, creationDateTimeUtc",
            "schema": {
              "type": "string"
            },
            "example": "status eq 'Succeeded'"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of entries to return (max 10,000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 100
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with machine actions collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineActionCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/findbyip": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Find devices by internal IP and timestamp",
        "description": "Finds devices seen with the requested internal IP within 15 minutes prior and after a given timestamp. Timestamp must be within the past 30 days.",
        "operationId": "findMachinesByIP",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "description": "Internal IP address to search for",
            "schema": {
              "type": "string"
            },
            "example": "10.248.240.38"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "Timestamp in ISO 8601 format (must be within past 30 days)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2019-09-22T08:44:05Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching machines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/findbytag": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Find devices by tag with optional starts-with filter",
        "description": "Finds devices by tag name with optional starts-with filtering for partial tag matching. Response filtered by user's device group access for delegated permissions.",
        "operationId": "findMachinesByTag",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "description": "The tag name to search for",
            "schema": {
              "type": "string"
            },
            "example": "testTag"
          },
          {
            "name": "useStartsWithFilter",
            "in": "query",
            "required": false,
            "description": "When true, finds devices with tag names that start with the given tag (default: false)",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching machines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/AddOrRemoveTagForMultipleMachines": {
      "post": {
        "tags": [
          "Machine"
        ],
        "summary": "Add or remove tags for multiple machines",
        "description": "Manages tags for multiple machines in a single operation (up to 500 machines). For bulk tag management operations across device fleet.",
        "operationId": "addOrRemoveTagForMultipleMachines",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleMachineTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated machine tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleMachineTagResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machineactions/{id}": {
      "get": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Get machine action by ID",
        "description": "Retrieves a specific machine action by its ID with complete action details and status information. Essential for tracking individual remediation action progress.",
        "operationId": "getMachineActionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Machine action ID",
            "schema": {
              "type": "string"
            },
            "example": "2e9da30d-27f6-4208-81f2-9cd3d67893ba"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with machine action details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machineactions/{machineactionid}/cancel": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Cancel an already launched machine action",
        "description": "Cancels a machine action that is currently in progress or pending execution. Only actions in 'Pending' or 'InProgress' status can be cancelled.",
        "operationId": "cancelMachineAction",
        "parameters": [
          {
            "name": "machineactionid",
            "in": "path",
            "required": true,
            "description": "Machine action ID to cancel",
            "schema": {
              "type": "string"
            },
            "example": "5382f7ea-7557-4ab7-9782-d50480024a4e"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelMachineActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully cancelled machine action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/collectInvestigationPackage": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Collect forensics investigation package from device",
        "description": "Collects a forensics investigation package from a device for detailed security analysis. Essential for forensic investigations and incident response.",
        "operationId": "collectInvestigationPackage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Machine ID to collect investigation package from",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineActionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Investigation package collection initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/isolate": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Isolate device from network",
        "description": "Isolates a device from accessing external network with support for Full, Selective, or UnManagedDevice isolation types. Critical for containing security threats. Requires 'Active remediation actions' role for delegated access.",
        "operationId": "isolateMachine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IsolateMachineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Machine isolation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/unisolate": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Release device from isolation",
        "description": "Releases a device from network isolation, undoing the isolation action and restoring normal network connectivity. Requires 'Active remediation actions' role for delegated access.",
        "operationId": "unisolateMachine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineActionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Machine unisolation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/runAntiVirusScan": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Run antivirus scan on device",
        "description": "Initiates Microsoft Defender Antivirus scan on a device with support for Quick or Full scan types. Works alongside other antivirus solutions. Requires 'Active remediation actions' role for delegated access.",
        "operationId": "runAntiVirusScan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunAntiVirusScanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Antivirus scan initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/StopAndQuarantineFile": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Stop execution and quarantine file by SHA1",
        "description": "Stops execution of a file on a device and quarantines it, removing the threat from the system. Essential for immediate threat containment and malware removal. Requires 'Active remediation actions' role for delegated access.",
        "operationId": "stopAndQuarantineFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopAndQuarantineFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File stop and quarantine initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/restrictCodeExecution": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Restrict app execution on device",
        "description": "Restricts execution of all applications on the device except a predefined set, using Windows Defender Application Control policies. Essential for containing potential threats by limiting executable code. Requires 'Active remediation actions' role for delegated access.",
        "operationId": "restrictCodeExecution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineActionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Code execution restriction initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/unrestrictCodeExecution": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Remove app execution restriction from device",
        "description": "Removes application execution restrictions from a device, enabling execution of any application after previous code execution restrictions. Essential for restoring normal device operation after threat containment. Requires 'Active remediation actions' role for delegated access.",
        "operationId": "unrestrictCodeExecution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineActionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Code execution unrestriction initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/offboard": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Offboard device from Defender for Endpoint",
        "description": "Offboards a device from Microsoft Defender for Endpoint, stopping the sensor service but not removing registry information. Windows only (not macOS/Linux). Requires appropriate role assignment for delegated access.",
        "operationId": "offboardMachine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID (40-digit alphanumeric identifier)",
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{40}$"
            },
            "example": "1e5bc9d7e413ddd7902c2932e418702b84d0cc07"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Machine offboarding initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machines/{id}/runliveresponse": {
      "post": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Run live response commands on device",
        "description": "Run live response commands on device including PutFile, RunScript, and GetFile operations. Commands are executed sequentially. Use GetLiveResponseResultDownloadLink to retrieve results.",
        "operationId": "runLiveResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Machine ID",
            "schema": {
              "type": "string"
            },
            "example": "f70f9fe6b29cd9511652434919c6530618f06606"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveResponseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Live response session initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveResponseAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machineactions/{id}/GetLiveResponseResultDownloadLink": {
      "get": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Get live response command result download link",
        "description": "Retrieves a specific live response command result by its index, returning a download link valid for 30 minutes. Should be used immediately for downloading to local storage.",
        "operationId": "getLiveResponseResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Machine action ID",
            "schema": {
              "type": "string"
            },
            "example": "988cc94e-7a8f-4b28-ab65-54970c5d5018"
          },
          {
            "name": "index",
            "in": "query",
            "required": true,
            "description": "Index of the command result to retrieve",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Download link for live response command result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveResponseDownloadLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/machineactions/{id}/getPackageUri": {
      "get": {
        "tags": [
          "MachineAction"
        ],
        "summary": "Get SAS URI for investigation package download",
        "description": "Get a URI that allows downloading of an investigation package. The link is valid for a short time and should be used immediately. Only available for Windows 10 version 1703+ and Windows 11.",
        "operationId": "getPackageSasUri",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Machine action ID",
            "schema": {
              "type": "string"
            },
            "example": "7327b54fd718525cbca07dacde913b5ac3c85673"
          }
        ],
        "responses": {
          "200": {
            "description": "SAS URI for investigation package download",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDownloadUri"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/files/{id}": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get file information by identifier",
        "description": "Retrieves file information by identifier (SHA1, SHA256, or MD5) including metadata, prevalence, and security details. Useful for file reputation analysis and threat investigation. Requires 'View Data' role permission for delegated access.",
        "operationId": "getFileInformation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "File identifier (SHA1, SHA256, or MD5 hash)",
            "schema": {
              "type": "string"
            },
            "example": "4388963aaa83afe2042a46a3c017ad50bdcdafb3"
          }
        ],
        "responses": {
          "200": {
            "description": "File information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/files/{id}/alerts": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get alerts related to file hash",
        "description": "Retrieves a collection of alerts related to a given file hash for threat investigation and analysis. Only SHA-1 hash function is supported. Requires 'View Data' role permission for delegated access.",
        "operationId": "getFileRelatedAlerts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "File hash identifier (SHA-1 only)",
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{40}$"
            },
            "example": "4388963aaa83afe2042a46a3c017ad50bdcdafb3"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of alerts related to the file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/files/{id}/machines": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get machines related to file hash",
        "description": "Retrieves a collection of machines related to a given file hash for threat investigation and lateral movement analysis. Only SHA-1 hash function is supported. Requires 'View Data' role permission for delegated access.",
        "operationId": "getFileRelatedMachines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "File hash identifier (SHA-1 only)",
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{40}$"
            },
            "example": "4388963aaa83afe2042a46a3c017ad50bdcdafb3"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of machines related to the file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/files/{id}/stats": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get file statistics",
        "description": "Retrieves statistics for a given file including organizational prevalence and temporal information. Provides organizational context for file analysis. Requires 'View Data' role permission for delegated access.",
        "operationId": "getFileStatistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "File hash identifier",
            "schema": {
              "type": "string"
            },
            "example": "4388963aaa83afe2042a46a3c017ad50bdcdafb3"
          },
          {
            "name": "lookBackHours",
            "in": "query",
            "required": false,
            "description": "Hours to search back for statistics (default 30 days, max 720 hours/30 days)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 720,
              "default": 720
            },
            "example": 48
          }
        ],
        "responses": {
          "200": {
            "description": "File statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStatistics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/users/{id}/alerts": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get alerts related to user ID",
        "description": "Retrieves a collection of alerts related to a given user ID for user-focused security investigation and analysis. ID parameter is username only, not full UPN. Essential for user behavior analysis and insider threat detection.",
        "operationId": "getUserRelatedAlerts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Username only (not full UPN) - e.g., 'user1' for user1@contoso.com",
            "schema": {
              "type": "string"
            },
            "example": "user1"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of alerts related to the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/users/{id}/machines": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get devices related to user ID",
        "description": "Retrieves a collection of devices related to a given user ID for user-focused device management and security analysis. ID parameter is username only, not full UPN. Essential for user-focused device management and insider threat detection.",
        "operationId": "getUserRelatedMachines",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Username only (not full UPN) - e.g., 'user1' for user1@contoso.com",
            "schema": {
              "type": "string"
            },
            "example": "user1"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of devices related to the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/vulnerabilities": {
      "get": {
        "tags": [
          "Vulnerability"
        ],
        "summary": "List all vulnerabilities",
        "description": "Retrieves a list of all vulnerabilities affecting the organization with comprehensive vulnerability details including CVSS scores, exploit information, and exposure metrics. Part of Microsoft Defender Vulnerability Management with comprehensive OData V4 query support.",
        "operationId": "getAllVulnerabilities",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "OData filter query. Supported fields: id, name, description, cvssV3, publishedOn, severity, updatedOn",
            "schema": {
              "type": "string"
            },
            "example": "severity eq 'High'"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "Number of entries to return (max 8,000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 8000
            },
            "example": 100
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "description": "Number of entries to skip",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "List of vulnerabilities retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VulnerabilityCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/vulnerabilities/{cveId}": {
      "get": {
        "tags": [
          "Vulnerability"
        ],
        "summary": "Get vulnerability information by CVE ID",
        "description": "Retrieves detailed vulnerability information by its CVE ID including severity, CVSS score, and exploit information. Part of Microsoft Defender Vulnerability Management. Essential for vulnerability assessment and prioritization.",
        "operationId": "getVulnerabilityById",
        "parameters": [
          {
            "name": "cveId",
            "in": "path",
            "required": true,
            "description": "CVE identifier (e.g., CVE-2019-0608)",
            "schema": {
              "type": "string",
              "pattern": "^CVE-\\d{4}-\\d{4,}$"
            },
            "example": "CVE-2019-0608"
          }
        ],
        "responses": {
          "200": {
            "description": "Vulnerability information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vulnerability"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/vulnerabilities/{cveId}/machineReferences": {
      "get": {
        "tags": [
          "Vulnerability"
        ],
        "summary": "List devices affected by a specific vulnerability",
        "description": "Retrieves a list of devices affected by a specific vulnerability, essential for vulnerability remediation planning and impact assessment. Part of Microsoft Defender Vulnerability Management. Critical for vulnerability management workflows and targeted patching efforts.",
        "operationId": "getMachinesByVulnerability",
        "parameters": [
          {
            "name": "cveId",
            "in": "path",
            "required": true,
            "description": "CVE identifier (e.g., CVE-2019-0608)",
            "schema": {
              "type": "string",
              "pattern": "^CVE-\\d{4}-\\d{4,}$"
            },
            "example": "CVE-2019-0608"
          }
        ],
        "responses": {
          "200": {
            "description": "List of devices affected by the vulnerability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineReferenceCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/vulnerabilities/machinesVulnerabilities": {
      "get": {
        "tags": [
          "Vulnerability"
        ],
        "summary": "List vulnerabilities by machine and software",
        "description": "Retrieves a list of all vulnerabilities affecting the organization by machine and software, including fixing KB information when available. Excellent for Power BI integration with comprehensive OData V4 query support.",
        "operationId": "getVulnerabilitiesByMachines",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "OData filter query. Supported fields: id, cveId, machineId, fixingKbId, productName, productVersion, severity, productVendor",
            "schema": {
              "type": "string"
            },
            "example": "severity eq 'High'"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "Number of entries to return (max 10,000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 100
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "description": "Number of entries to skip",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "List of vulnerabilities by machine and software",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineVulnerabilityCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/domains/{domain}/alerts": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get alerts related to domain",
        "description": "Retrieves a collection of alerts related to a given domain address for threat investigation and analysis. Useful for investigating domain-based threats and communications. Requires 'View Data' role permission for delegated access.",
        "operationId": "getDomainRelatedAlerts",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain address to query for related alerts",
            "schema": {
              "type": "string",
              "format": "hostname"
            },
            "example": "client.wns.windows.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of alerts related to the domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/domains/{domain}/machines": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get machines that communicated with domain",
        "description": "Retrieves a collection of machines that have communicated to or from a given domain address for network threat investigation. Limited to 500 devices in results. Useful for investigating network communications and lateral movement.",
        "operationId": "getDomainRelatedMachines",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain address to query for related machines",
            "schema": {
              "type": "string",
              "format": "hostname"
            },
            "example": "api.securitycenter.microsoft.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of machines that communicated with the domain (max 500)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.securitycenter.microsoft.com/.default"
            ]
          }
        ]
      }
    },
    "/api/domains/{domain}/stats": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get domain statistics",
        "description": "Retrieves statistics on a given domain including organizational prevalence and first/last seen timestamps. Useful for understanding domain usage patterns within organization and provides temporal context for domain-based threat analysis.",
        "operationId": "getDomainStatistics",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain address to get statistics for",
            "schema": {
              "type": "string",
              "format": "hostname"
            },
            "example": "example.com"
          },
          {
            "name": "lookBackHours",
            "in": "query",
            "required": false,
[...]
